/* Main content */
/* Banner */
.banner {
    position: relative;
    max-height: 220px;
}
.banner img {
    max-height: 220px;
}
.banner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light-transparent);
}
.banner h1 {
    display: grid;
    font-size: 2rem;
    color: var(--txt-dark);
    place-items: center;
    height: 100%;
}

/* About */
section:last-child {
    padding: 1.5rem 1rem;
}
section:last-child h2 {
    text-align: center;
}
section:last-child p {
    text-align: justify;
    padding: 2.5rem 0;
}
section:last-child div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section:last-child button {
    width: 85%;
}