:root {
    --primary: #1789FC;
    --secondary: #85D07B;
    --third: #FFFFFF;
    --forth: #296EB4;
    --banner: #808080b4;

    --transparent: #ffffff00;
    --light-transparent: #ffffff9a;

    --txt-light: #FFFFFF;
    --txt-dark: black;
    --txt-highlight: #85D07B;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    font-family: "Ubuntu Sans", sans-serif;
}
section {
    padding-bottom: 2.5rem;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
main button {
    background-color: var(--secondary);
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: 500;
    width: 48%;
}
.banner, footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Header */
header {
    background-color: var(--primary);
    display: grid;
}
h1 {
    padding: 1rem;
    font-size: 1rem;
    color: var(--txt-light);
}
nav {
    background-color: var(--forth);
}
nav ul {
    list-style-type: none;
}
nav a {
    display: none;
    color: var(--txt-light);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.active {
    color: var(--txt-highlight)
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

/* Ham Button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: var(--transparent);
    color: var(--txt-light);
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❎";
}


/* Main content */
/* Banner */
.banner > div {
    width: 80%;
    margin: auto;
}
.banner h2 {
    font-size: 2rem;
}
.banner p {
    padding: 1rem 0;
    text-align: justify;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons :last-child {
    background-color: var(--transparent);
    border: 1px solid var(--txt-dark);
}

/* Icons Slider */
.icon-slider {
    display: flex;
    font-size: 0.8rem;
    gap: 15px;
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem 2.5rem 1rem;

    max-width: 550px;
    margin: auto;
}

/* cards */
.card div,
.card > p,
.card > h2 {
    width: 80%;
    max-width: 450px;
    margin: auto;
}
.card button {
    width: 100%;
}
.card p, .card h2 {
    margin-bottom: 0.8rem;
}
.card p {
    text-align: justify;
}
.card > p, .card > h2 {
    text-align: center;
}
.card > div > button {
    width: 100%;
}
.last {
    padding: 1.5rem 0 3rem 0;
}


/* Footer */
footer {
    border-top: 0.5px solid grey;
    padding: 1.5rem 1rem 2.5rem 1rem;
    margin-top: 1.5rem;
}