@media screen and (min-width: 740px) {
    /* Banner */
    .banner {
        display: flex;
        margin: 0;
        border-radius: 0px;
    }
    .banner img {
        border-radius: 0px;
    }
    /* Form */
    main .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 940px;
    }
    main form {
        grid-column: 1/2;
        grid-row: 2/3;

        margin: 10px 1rem;
    }
    main > .form > h2 {
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    main > .form img {
        display: block;
    }
    main > .form > picture {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 1rem;
    }

    /* Confirmation */
    .confirmation {
        height: 70vh;
        display: grid;
        place-items: center ;
    }
}