/* Main content */
/* Banner */
.banner {
    position: relative;
    max-height: 220px;
}
.banner img {
    max-height: 220px;
}
.banner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light-transparent);
}
.banner h1 {
    display: grid;
    font-size: 2rem;
    color: var(--txt-dark);
    place-items: center;
    height: 100%;
}

/* About */
.grid {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.grid img {
    border-radius: 15px;
}
.grid div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border: var(--card-border);
    border-radius: 10px;
    height: clamp(250px, 100%, 500px);
}

.grid div h3,
.grid div p {
    padding: 1rem;
}

.grid div p {
    text-align: justify;
}