@media screen and (min-width: 740px) {
    /* Banner */
    .banner {
        display: block;
        margin: 0;
        border-radius: 0px;
    }
    .banner img {
        border-radius: 0px;
    }
    .banner h1 {
        text-align: center;
    }

    /* About */
}