:root {
    --primary-color: #1a5fb4;
    --secondary-color: black;

    --text-dark: black;
    --text-light: white;
    --text-optional: navy;

    --white-bg: white;
    --form-bg: #8080805b;

    --color-hover-button: #2bb62b;
}

* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 100%, 450px);
    margin: auto;
}

/* Header */
header, footer {
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}
h1, footer {
    color: var(--text-light);
    text-align: center;
}

/* Form */
form {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg);

    padding: 0 1rem 1rem 1rem;
    border-radius: 5px;
}
label {
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
}
input[type=submit] {
    margin-top: 1rem;
}

/* Inputs */
input[type=text],
input[type=date],
textarea,
select {
    padding: 0.8em;
    background-color: var(--white-bg);
    border: none;
    border-radius: 5px;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}
input {
    accent-color: var(--primary-color);
}

/* Optional Inputs */
.optional {
    color: var(--text-optional);
}

/* Overall rating */
.stars {
    display: flex;
    justify-content: space-between;
}
.stars label {
    padding: 0.5rem 0;
}
.stars div {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
.stars div input[type=radio] {
    width: 100%;
    height: 20px;
}

/* Features */
.useful-features div {
    padding-top: 0.5rem;
}
.useful-features div input[type=checkbox] {
    width: 20px;
    height: 20px;
}

textarea {
    resize: none;
}

/* Submit button */
input[type=submit] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 5px;
}
input[type=submit]:hover {
    background-color: var(--color-hover-button);
    color: var(--text-light);
}

/* Review */
.counter {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    background-color: var(--form-bg);
    border-radius: 5px;
    margin: 5rem 1rem;
}
.counter h1 {
    color: black;
}
.counter p {
    text-align: center;
    width: 100%;
    font-size: 7rem;
}