@media screen and (min-width: 740px) {
    header {
        padding: 0;
    }
    .header {
        display: flex;
        justify-content: center;
    }
    h1 {
        padding: 0.5rem 2.5rem;
        margin: 0.5rem auto;
    }

    h2 {
        background-color: var(--dark-bg);
        width: 90%;
    }

    main {
        position:relative;
    }
    section {
        position: absolute;
        background-color: var(--ligth-bg);
        color: var(--dark);
        margin: 0;
    }
    .data {
        top: 0px;
        left: 0px;
    }
    .weather {
        bottom: 16px;
        right: 0px;
    }    
    .weather h2::after {
        content: "";
        display: inline-flex;
        background-image: var(--icon);
        height: 50px;
        width: 50px;
    }
    footer {
        padding-top: 1rem ;
        padding-bottom: 3rem;
    }
}