@media screen and (min-width: 740px) {
    header {
        padding: 0;
    }
    .header {
        display: flex;
        justify-content: center;
    }
    h1 {
        padding: 0.5rem 2.5rem;
        margin: 0.5rem auto;
    }

    h2 {
        background-color: var(--dark-bg);
        width: 90%;
    }

    main {
        position:relative;
    }

    section {
        position: absolute;
        background-color: var(--ligth-bg);
        color: var(--dark);
        margin: 0;
    }

    .datatable {
        padding: 0 1rem 1rem 1rem;
    }

    .data {
        top: 2rem;
        left: 2rem;
    }
    .card-header {
        text-align: left;
        position: relative;
        width: 80%;
        
        left: -10px;
        top: 0;
    }
    h2 {
        padding: 0.5rem 1rem;
    }

    .weather {
        bottom: 3rem;
        right: 2rem;
    }
    .weather .card-header {
        width: 90%;
    }
    .weather h2::after {
        content: "";
        display: inline-block;
        background-image: var(--icon);
        background-position: center;
        height: 40px;
        width: 40px;
    }
    footer {
        padding-top: 1rem ;
        padding-bottom: 3rem;
    }
}