:root {
    --primary: #1c71d8;
    --secundary: #80BF7E;
    --light: white;
    --dark: #011436;

    --ligth-bg: #ffffffa6;
    --dark-bg: #80bf7e;

    --icon: url('../images/weather.svg');

}

body {
    margin: 0;
    color: var(--dark);
}

header {
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    border-bottom: 1.5rem solid var(--secundary);
}

h1 {
    color: var(--light);
}

.header {
    text-align: center;
    padding: 0.2rem;
}

.hero {
    height: 80vh;
    border-bottom: 1rem solid var(--primary);
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

section {
    border-color: var(--blue);
    margin: 1rem 0.5rem;
    text-align: center;
}

.datatable {
    padding: 0;
    margin: auto;
    width: 10rem;
}

.weather h2::after {
    content: "";
    display: flex;
    background-image: var(--icon);
    height: 5rem;
    width: 5rem;
    margin: auto;
}

.row {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.row .key {
    text-align: right;
    width: 100%;
}
.row .value {
    text-align: left;
    width: 100%;
}

footer {
    background-color: var(--primary);
    color: var(--light);
    border-color: var(--gree);
    text-align: center;
    padding: 0.5rem;
}