:root {
    --header-color: navy;
    --border-color: black;

    --primary-color: #1789FC;
    --secondary-color: #85D07B;
    --light-bg: #FFFFFF;
    --dark-bg: black;
    --accent: #296EB4;
}

* {
    margin: 0;
}

header, footer {
    background-color: var(--primary-color);
}

/* Header */
header {
    color: var(--dark-bg);
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

section {
    border: solid 0.5px var(--border-color);
    padding: 1rem;
    border-radius: 10px;
    margin: 15px;
}

/* Color */
.color{
    display: flex;
}
.background {
    padding: 1rem;
}
.primary {
    background-color: var(--primary-color);
}
.second {
    background-color: var(--secondary-color);
}
.third {
    background-color: var(--light-bg);
}
.accent {
    color: white;
    background-color: var(--accent);
}

/* Font Family */
.p-font {
    font-family: "Ubuntu Sans", sans-serif;
}
.h-font {
    font-family: "Roboto", sans-serif;
}

/* Wire Frames */
.wireframes {
    display: flex;
    flex-direction: column;
}
.wireframes picture {
    margin: auto;
}

footer {
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}