:root {
    --primary-color: 
}

body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid 1px #bbb;
    padding: 1rem;

    background-color: #246ab62d;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}